![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [55]:
ejer_1 = [1,2,3,4,5]

print (ejer_1.reverse())
print (ejer_1)

None
[5, 4, 3, 2, 1]

In [17]:
ejer_1 = [1,2,3,4,5]

ejer_1.reverse()
print (ejer_1)

#esta es otra forma: 
list(reversed(ejer_1))

#con un bucle for se puede hacer el reverse también, así:
ejer_1 = [1,2,3,4,5]
lista = []
for i in ejer_1:
    lista.insert(0,i)
print (lista)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [58]:
ejer_2 = [1,2,3,4,5]

for numeros in ejer_2:
    operacion = numeros ** 2
    print (operacion)

1
4
9
16
25

In [18]:
ejer_2 = [1,2,3,4,5]

[x**2 for x in ejer_2]

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [1]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        lista.append(i + " " + j)
        print(lista)
print (lista)

['Hola Que']
['Hola Que', 'Hola tal']
['Hola Que', 'Hola tal', 'amigo Que']
['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']
['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [22]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        lista.append(i + "" + j)
lista

['HolaQue', 'Holatal', 'amigoQue', 'amigotal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo (el valor) por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [7]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

ejer_4.index(45)
ejer_4.insert(4, 0)
ejer_4.remove(45)

print (ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

In [8]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

ejer_4.index(45) #nos da el indice que es el 4

ejer_4[ejer_4.index(45)] = 0

ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [14]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

# lista = ejer_5.copy()
# #print(lista)

# for numero in lista:
#     #if numero == 3:
#     if numero !=3:
#         lista.append(numero)
#     print (lista)
solucion = [i for i in ejer_5 if i!=3]
print (solucion)

[20, 47, 19, 29, 45, 67, 78, 90]

In [3]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

lista = ejer_5.copy()

for i in ejer_5:
    
    if i==3:
        lista.remove(i)

print (lista)
#print (ejer_5)

#impirmirlo sin el punto copy y ver la diferencia entre el .copy y el que no tiene .copy

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [8]:
tupla_mia3 = (1, 1.0, 9.8, 7)
print (tupla_mia3)
print (len(tupla_mia3))
# 4 usa el len apra mostrar el ultimo
print (tupla_mia3 [0])
print (tupla_mia3 [-1])
print (len(tupla_mia3))
print (tupla_mia3[len(tupla_mia3)-1])

(1, 1.0, 9.8, 7)
4
1
7
4
7

In [15]:
def acceder (tupla):
    return tupla[len(tupla)-1]

acceder (tupla_mia)

3

In [14]:
# 1
tupla_mia = (1,2,3)
print(tupla_mia)
# 2
tupla_mia2 = (8,)
print (type(tupla_mia2))
# 3
tupla_mia3 = (1, 1.0, 9.8, 7)
print (tupla_mia3)
print (len(tupla_mia3))
# 4
print (tupla_mia3 [0])
print (tupla_mia3 [-1])
# 5
tupla_mia4 = (18,)
tupla_final = tupla_mia3 + tupla_mia4
print (tupla_final)
# 6
tupla_final = list(tupla_final)
print((tupla_final).remove(9.8))
print (tupla_final)
tupla_final = tuple(tupla_final)
print (tupla_final)
# 7
print (tupla_mia4)
tupla_mia4 = list(tupla_mia4)
print (tupla_mia4
       )

(1, 2, 3)
<class 'tuple'>
(1, 1.0, 9.8, 7)
4
1
7
(1, 1.0, 9.8, 7, 18)
None
[1, 1.0, 7, 18]
(1, 1.0, 7, 18)
(18,)
[18]

In [ ]:
# 6 y 7 convertir la tupla en lista y eliminarlo y luego volver a convertir la lista en tupla

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [33]:
ejer_7 = ("cien", "cañones", "por", "banda")

frase = " ".join(ejer_7)
print (frase)

cien cañones por banda

In [30]:
ejer_7 = ("cien", "cañones", "por", "banda")

print (' '.join(ejer_7))

# BUSCAR COMO FUNCIONA EL JOIN

cien cañones por banda

In [32]:
# otra forma de hacerlo
for i in ejer_7:
    print (i, end=' ')

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [35]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)


print (ejer_8 [2])
print (ejer_8 [-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [38]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

conteo = ejer_9.count(3)
print(conteo)

7

In [37]:
# con count y len 
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [43]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print (60 in ejer_9)

False

In [38]:
60 in ejer_9

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [65]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
# 1
#lista = print (list(ejer_9))
#print (lista)

# 2
#mi_set = print (set(ejer_9))
#print (mi_set)

# 3

dict_2 = dict(enumerate (ejer_9))
print (dict_2)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

In [53]:
# 1
list(ejer_9)
# 2
set(ejer_9)
# 3
# 1era forma 
ejer_11 = {}

for index, elemento in enumerate(ejer_9):
    ejer_11[index] = elemento

print (ejer_11)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

In [66]:
# 3
# 2da forma
dict_2 = dict(enumerate (ejer_9))
print (dict_2)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [71]:
# 1era forma 
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

my_dict = dict(enumerate(ejer_12))
print (my_dict)

{0: ('x', 1), 1: ('x', 2), 2: ('x', 3), 3: ('y', 1), 4: ('y', 2), 5: ('z', 1)}

In [75]:
# 2da forma 
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

ejer_12_dict = {}

for i,j in ejer_12:
     ejer_12_dict[i]= j # [] esto es la posicion de los elementos de la lista. 
     # va iterando los elementos i y j x y 1 para cada posicion de la lista, 0,1,2.. corresponde = j a los elementos y asi los va colocando
print (ejer_12_dict)

{'x': 3, 'y': 2, 'z': 1}

In [21]:
ejer_12 = [1,2,3]

ejer_12_dict = {}

for pos in ejer_12:
     ejer_12_dict[pos]= i
print (ejer_12_dict)

{1: 3, 2: 3, 3: 3}

In [76]:
# 3era forma 
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

#es una lita de tuplas, lo conviertes en diccionario

ejer_12 = dict(ejer_12)
print (ejer_12)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [106]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

# 1 sorted. keys 
lista_uno = sorted(ejer_13.keys())
print (lista_uno)

# 2 sorted, reverse = True
lista_dos = sorted(ejer_13, reverse = True)
print (lista_dos)

# 3 
lista_uno [1] = 69
print (lista_uno)

# 4
print (2 in lista_uno)

# 5 bucle for con .items
print (ejer_13)

for clave, valor in ejer_13.items():
    print (f"La clave es: {clave} y el valor es: {valor}")

[2, 4, 5, 8]
[8, 5, 4, 2]
[2, 69, 5, 8]
True
{4: 78, 2: 98, 8: 234, 5: 29}
La clave es: 4 y el valor es: 78
La clave es: 2 y el valor es: 98
La clave es: 8 y el valor es: 234
La clave es: 5 y el valor es: 29

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [109]:
# .update y las concatena 

ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)
ejer_14_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [124]:
# sum.ejer:15. values

ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

print (sum(ejer_15.values()))

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [136]:
# priducto inicial 1
# itero por los values y produ: pord * 1

ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

producto_incial = 1
for i in ejer_16.values():
    operacion = i * producto_incial

print (operacion)

55

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [140]:
# 1 
set = {6, 8 , 10}
set
# 2 
set.add(11)
set
# 3
set.remove(11)
set
# 4.
set.discard(10)
set

{6, 8}